# Supabase
VITE_SUPABASE_URL=https://jzskfvowxjwensuqxjls.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp6c2tmdm93eGp3ZW5zdXF4amxzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM2NDgxNjIsImV4cCI6MjA5OTIyNDE2Mn0.fGKQCDPueD9eQPHGdl7xLGQH7PiXMoNoYGLw3lALqPs